@charset "UTF-8";
/*====================================

  0.Reset Style

    ----------------------------------
        Structure
    ----------------------------------
    0.0. Full Reset
    0.1. Border Box
    0.2. Objects
    0.3. List reset
    0.4. Blockquote reset
    0.5. link tag
    0.6. hr
    0.7. Computer code
    0.8. Form
    0.9. IE （削除予定）
    0.10. HTML Bace Setting
 
    ----------------------------------
        Change Log
    ----------------------------------
    -2018/8/8   Founding
    
====================================*/
/*====================================

    0.0. Full Reset

====================================*/

html, body,
div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p,
blockquote, pre, abbr, address,
cite, code, del, dfn, em,
img, ins, kbd, q, samp, small, strong, sub, sup,
var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure,
header, main, footer, menu, nav, section,
time, mark, audio, video, details, summary {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: inherit;
	vertical-align: baseline;
	background: transparent;
}

article, aside, figure,
header, main, footer, nav, section,
details, summary { display: block; }

/*====================================

    0.1. Border Box

====================================*/

html,
*,
*::after,
*::before {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
:invalid,
:-moz-submit-invalid,
:-moz-ui-invalid {
  box-shadow:none;
}

/*====================================

    0.2. Objects

====================================*/
img,
object,
embed { max-width: 100%; }

/*====================================

    0.3. List reset

====================================*/
/* we use a lot of ULs that aren't bulleted. don't forget to restore the bullets within content. */
ul { list-style: none; }

/*====================================

    0.4. Blockquote reset

====================================*/

blockquote, q {quotes: none;}

blockquote:before, 
blockquote:after, 
q:before, 
q:after {content: ''; content: none;}

/*====================================

    0.5. link tag

====================================*/

a {
    margin: 0; padding: 0; font-size: 100%;
    vertical-align: baseline; background: transparent;
    font-style: inherit; font-weight: inherit;
}
/*====================================

    0.6. hr

====================================*/

hr {
    display: block;
    height: 1px; border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0; padding: 0;
}

/*====================================

    0.7. Computer code

====================================*/

/* standardize any monospaced elements */
pre, code, kbd, samp { }

pre {
	white-space: pre; /* CSS2 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
	word-wrap: break-word; /* IE */
}


/*====================================

    0.8. Form

====================================*/

/* hand cursor on clickable elements */
.clickable,
label,
input[type="button"], 
input[type="submit"], 
input[type="file"], 
button {cursor: "pointer";}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea { margin: 0; }

/* make buttons play nice in IE */
button,
input[type="button"] {width: auto; overflow: visible;}

input, select { vertical-align: middle; }

input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom;}

select, input, textarea { font-size: 100%; }

/*====================================

    0.9. IE （削除予定）

====================================*/

/* scale images in IE7 more attractively */
.ie7 img {-ms-interpolation-mode: bicubic;}

.ie7 input[type="checkbox"] {vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}

/*====================================

    0.10. HTML Bace Setting

====================================*/

html { font-size: 62.5%; overflow-y: scroll; }


