[submodule "_submodule/bourbon"]
	path = _submodule/bourbon
	url = https://github.com/thoughtbot/bourbon/
	branch = master
[submodule "_submodule/bootstrap"]
	path = _submodule/bootstrap
	url = https://github.com/twbs/bootstrap
	branch = v4-dev
[submodule "_submodule/semantic-ui"]
	path = _submodule/semantic-ui
	url = https://github.com/Semantic-Org/Semantic-UI
[submodule "_submodule/slick"]
	path = _submodule/slick
	url = https://github.com/kenwheeler/slick/
[submodule "_submodule/Fixed-Header-Table"]
	path = _submodule/Fixed-Header-Table
	url = https://github.com/markmalek/Fixed-Header-Table
[submodule "_submodule/jquery-mousewheel"]
	path = _submodule/jquery-mousewheel
	url = https://github.com/jquery/jquery-mousewheel
[submodule "_submodule/hover-css"]
	path = _submodule/hover-css
	url = https://github.com/IanLunn/Hover
[submodule "_submodule/foundation"]
	path = _submodule/foundation
	url = https://github.com/zurb/foundation-sites
[submodule "_submodule/siimple"]
	path = _submodule/siimple
	url = https://github.com/siimple/siimple
[submodule "_submodule/sticky-kit"]
	path = _submodule/sticky-kit
	url = https://github.com/leafo/sticky-kit
[submodule "_submodule/prefixfree"]
	path = _submodule/prefixfree
	url = https://github.com/LeaVerou/prefixfree
[submodule "_submodule/anime-js"]
	path = _submodule/anime-js
	url = https://github.com/juliangarnier/anime
[submodule "_submodule/snap-svg"]
	path = _submodule/snap-svg
	url = https://github.com/adobe-webplatform/Snap.svg
[submodule "_submodule/jquery-match-height"]
	path = _submodule/jquery-match-height
	url = https://github.com/liabru/jquery-match-height
[submodule "_submodule/flexboxgrid"]
	path = _submodule/flexboxgrid
	url = https://github.com/kristoferjoseph/flexboxgrid
[submodule "_submodule/bxslider-4"]
	path = _submodule/bxslider-4
	url = https://github.com/stevenwanderski/bxslider-4
[submodule "_submodule/paginationjs"]
	path = _submodule/paginationjs
	url = https://github.com/superRaytin/paginationjs
[submodule "_submodule/autoprefixer"]
	path = _submodule/autoprefixer
	url = https://github.com/postcss/autoprefixer
[submodule "_submodule/jquery-transit"]
	path = _submodule/jquery-transit
	url = https://github.com/rstacruz/jquery.transit
[submodule "_submodule/slicknav"]
	path = _submodule/slicknav
	url = https://github.com/ComputerWolf/SlickNav
[submodule "_submodule/css3-mediaqueries-js"]
	path = _submodule/css3-mediaqueries-js
	url = https://github.com/livingston/css3-mediaqueries-js
[submodule "_submodule/html5shiv"]
	path = _submodule/html5shiv
	url = https://github.com/aFarkas/html5shiv
[submodule "_submodule/yuga.js-TT-Custom"]
	path = _submodule/yuga.js-TT-Custom
	url = https://github.com/dounokouno/yuga.js-TT-Custom
[submodule "_submodule/masonry"]
	path = _submodule/masonry
	url = https://github.com/desandro/masonry
