[submodule "_submodule/bourbon"]
	path = _submodule/bourbon
	url = https://github.com/thoughtbot/bourbon/
	branch = master
[submodule "_submodule/bootstrap"]
	path = _submodule/bootstrap
	url = https://github.com/twbs/bootstrap
	branch = v4-dev
[submodule "_submodule/semantic-ui"]
	path = _submodule/semantic-ui
	url = https://github.com/Semantic-Org/Semantic-UI
[submodule "_submodule/slick"]
	path = _submodule/slick
	url = https://github.com/kenwheeler/slick/
[submodule "_submodule/Fixed-Header-Table"]
	path = _submodule/Fixed-Header-Table
	url = https://github.com/markmalek/Fixed-Header-Table
[submodule "_submodule/jquery-mousewheel"]
	path = _submodule/jquery-mousewheel
	url = https://github.com/jquery/jquery-mousewheel
[submodule "_submodule/jquery"]
	path = _submodule/jquery
	url = https://github.com/jquery/jquery
[submodule "_submodule/hover-css"]
	path = _submodule/hover-css
	url = https://github.com/IanLunn/Hover
[submodule "_submodule/foundation"]
	path = _submodule/foundation
	url = https://github.com/zurb/foundation-sites
[submodule "_submodule/siimple"]
	path = _submodule/siimple
	url = https://github.com/siimple/siimple
[submodule "_submodule/sticky-kit"]
	path = _submodule/sticky-kit
	url = https://github.com/leafo/sticky-kit
[submodule "_submodule/prefixfree"]
	path = _submodule/prefixfree
	url = https://github.com/LeaVerou/prefixfree
[submodule "_submodule/modernizr"]
	path = _submodule/modernizr
	url = https://github.com/Modernizr/Modernizr
