@charset "UTF-8";

:root {
  /* color set 
   - rgbの場合
     color: rgb(var(--primary-color));
   - rgbaの場合
     color: rgba(var(--primary-color));
  -------------------------------------------------- */
  --primary-color: 0, 123, 255;
  --secondary-color: 108, 117, 125;

  /* 主にtableのボーダーカラー 
  -------------------------------------------------- */
  --border-line-color: 211, 211, 211;

  /* .list-style__peculiar系のマージン 
  -------------------------------------------------- */
  --list-margin: 2.5em;
  --list-padding: 2.5em;
  --list-padding-2: 5em;

  /* breakpoint 
  -------------------------------------------------- */
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;

}
