$icomoon-font-family: "basicicon" !default;
$icomoon-font-path: "fonts" !default;

$bi-angle_left: "\e900";
$bi-angle_right: "\e901";
$bi-angle_up: "\e902";
$bi-angle_down: "\e903";
$bi-angle_left-right: "\e904";
$bi-angle_up-down: "\e905";
$bi-angle_left-border-square: "\e906";
$bi-angle_right-border-square: "\e907";
$bi-angle_up-border-square: "\e908";
$bi-angle_down-border-square: "\e909";
$bi-angle_left-border-circle: "\e90a";
$bi-angle_right-border-circle: "\e90b";
$bi-angle_up-border-circle: "\e90c";
$bi-angle_down-border-circle: "\e90d";
$bi-angle_left-square: "\e90e";
$bi-angle_right-square: "\e90f";
$bi-angle_up-square: "\e910";
$bi-angle_down-square: "\e911";
$bi-angle_left-circle: "\e912";
$bi-angle_right-circle: "\e913";
$bi-angle_up-circle: "\e914";
$bi-angle_down-circle: "\e915";
$bi-angle-light_left: "\e916";
$bi-angle-light_right: "\e917";
$bi-angle-light_up: "\e918";
$bi-angle-light_down: "\e919";
$bi-angle-light_left-right: "\e91a";
$bi-angle-light_up-down: "\e91b";
$bi-angle-light_left-border-square: "\e91c";
$bi-angle-light_right-border-square: "\e91d";
$bi-angle-light_up-border-square: "\e91e";
$bi-angle-light_down-border-square: "\e91f";
$bi-angle-light_left-border-circle: "\e920";
$bi-angle-light_right-border-circle: "\e921";
$bi-angle-light_up-border-circle: "\e922";
$bi-angle-light_down-border-circle: "\e923";
$bi-angle-light_left-square: "\e924";
$bi-angle-light_right-square: "\e925";
$bi-angle-light_up-square: "\e926";
$bi-angle-light_down-square: "\e927";
$bi-angle-light_left-circle: "\e928";
$bi-angle-light_right-circle: "\e929";
$bi-angle-light_up-circle: "\e92a";
$bi-angle-light_down-circle: "\e92b";
$bi-angle-bold_left: "\e92c";
$bi-angle-bold_right: "\e92d";
$bi-angle-bold_up: "\e92e";
$bi-angle-bold_down: "\e92f";
$bi-angle-bold_left-right: "\e930";
$bi-angle-bold_up-down: "\e931";
$bi-angle-bold_left-border-square: "\e932";
$bi-angle-bold_right-border-square: "\e933";
$bi-angle-bold_up-border-square: "\e934";
$bi-angle-bold_down-border-square: "\e935";
$bi-angle-bold_left-border-circle: "\e936";
$bi-angle-bold_right-border-circle: "\e937";
$bi-angle-bold_up-border-circle: "\e938";
$bi-angle-bold_down-border-circle: "\e939";
$bi-angle-bold_left-square: "\e93a";
$bi-angle-bold_right-square: "\e93b";
$bi-angle-bold_up-square: "\e93c";
$bi-angle-bold_down-square: "\e93d";
$bi-angle-bold_left-circle: "\e93e";
$bi-angle-bold_right-circle: "\e93f";
$bi-angle-bold_up-circle: "\e940";
$bi-angle-bold_down-circle: "\e941";
$bi-caret_left: "\e942";
$bi-caret_right: "\e943";
$bi-caret_up: "\e944";
$bi-caret_down: "\e945";
$bi-caret_left-right: "\e946";
$bi-caret_up-down: "\e947";
$bi-caret_left-border-square: "\e948";
$bi-caret_right-border-square: "\e949";
$bi-caret_up-border-square: "\e94a";
$bi-caret_down-border-square: "\e94b";
$bi-caret_left-border-circle: "\e94c";
$bi-caret_right-border-circle: "\e94d";
$bi-caret_up-border-circle: "\e94e";
$bi-caret_down-border-circle: "\e94f";
$bi-caret_left-square: "\e950";
$bi-caret_right-square: "\e951";
$bi-caret_up-square: "\e952";
$bi-caret_down-square: "\e953";
$bi-caret_left-circle: "\e954";
$bi-caret_right-circle: "\e955";
$bi-caret_up-circle: "\e956";
$bi-caret_down-circle: "\e957";
$bi-arrow_left: "\e958";
$bi-arrow_right: "\e959";
$bi-arrow_up: "\e95a";
$bi-arrow_down: "\e95b";
$bi-arrow_left-right: "\e95c";
$bi-arrow_up-down: "\e95d";
$bi-arrow_left-border-circle: "\e95e";
$bi-arrow_right-border-circle: "\e95f";
$bi-arrow_up-border-circle: "\e960";
$bi-arrow_down-border-circle: "\e961";
$bi-arrow_left-border-square: "\e962";
$bi-arrow_right-border-square: "\e963";
$bi-arrow_up-border-square: "\e964";
$bi-arrow_down-border-square: "\e965";
$bi-arrow_left-circle: "\e966";
$bi-arrow_right-circle: "\e967";
$bi-arrow_up-circle: "\e968";
$bi-arrow_down-circle: "\e969";
$bi-arrow_left-square: "\e96a";
$bi-arrow_right-square: "\e96b";
$bi-arrow_up-square: "\e96c";
$bi-arrow_down-square: "\e96d";
$bi-arrow-bold_left: "\e96e";
$bi-arrow-bold_right: "\e96f";
$bi-arrow-bold_up: "\e970";
$bi-arrow-bold_down: "\e971";
$bi-arrow-bold_left-right: "\e972";
$bi-arrow-bold_up-down: "\e973";
$bi-arrow-bold_left-border-circle: "\e974";
$bi-arrow-bold_right-border-circle: "\e975";
$bi-arrow-bold_up-border-circle: "\e976";
$bi-arrow-bold_down-border-circle: "\e977";
$bi-arrow-bold_left-border-square: "\e978";
$bi-arrow-bold_right-border-square: "\e979";
$bi-arrow-bold_up-border-square: "\e97a";
$bi-arrow-bold_down-border-square: "\e97b";
$bi-arrow-bold_left-circle: "\e97c";
$bi-arrow-bold_right-circle: "\e97d";
$bi-arrow-bold_up-circle: "\e97e";
$bi-arrow-bold_down-circle: "\e97f";
$bi-arrow-bold_left-square: "\e980";
$bi-arrow-bold_right-square: "\e981";
$bi-arrow-bold_up-square: "\e982";
$bi-arrow-bold_down-square: "\e996";
$bi-files_border-blank-light: "\e997";
$bi-files_border-pdf-light: "\e998";
$bi-files_border-excel-light: "\e999";
$bi-files_border-word-light: "\e99a";
$bi-files_border-powerpoint-light: "\e99b";
$bi-files_border-video-light: "\e99c";
$bi-files_border-zip-light: "\e99d";
$bi-files_border-blank: "\e99e";
$bi-files_border-pdf: "\e99f";
$bi-files_border-excel: "\e9a0";
$bi-files_border-word: "\e9a1";
$bi-files_border-powerpoint: "\e9a2";
$bi-files_border-video: "\e9a3";
$bi-files_border-zip: "\e9a4";
$bi-files_solid-blank: "\e9a5";
$bi-files_solid-pdf: "\e9a6";
$bi-files_solid-excel: "\e9a7";
$bi-files_solid-word: "\e9a8";
$bi-files_solid-powerpoint: "\e9a9";
$bi-files_solid-video: "\e9aa";
$bi-files_solid-zip: "\e9ab";
$bi-files_icon-pdf: "\e9c1";
$bi-files_icon-excel: "\e9c2";
$bi-files_icon-word: "\e9c3";
$bi-files_icon-powerpoint: "\e9c4";
$bi-files_icon-video: "\e9c5";
$bi-files_icon-zip: "\e9c6";
$bi-blank_line: "\e983";
$bi-blank_window: "\e984";
$bi-blank_arrow-line: "\e985";
$bi-blank_external-box: "\e986";
$bi-blank_external: "\e987";
$bi-blank_bold-line: "\e988";
$bi-blank_bold-window: "\e989";
$bi-blank_bold-arrow-line: "\e98a";
$bi-blank_bold-external-box: "\e98b";
$bi-blank_bold-external: "\e98c";
$bi-icons_envelope: "\e98d";
$bi-icons_envelope-regular: "\e98e";
$bi-icons_envelope-light: "\e98f";
$bi-icons_global: "\e990";
$bi-icons_globe-regular: "\e991";
$bi-icons_globe-light: "\e992";
$bi-icons_download: "\e993";
$bi-icons_download-regular: "\e994";
$bi-icons_download-light: "\e995";
$bi-icons_rss: "\e9ac";
$bi-icons_rss-regular: "\e9ad";
$bi-icons_rss-light: "\e9ae";
$bi-icons_signout: "\e9af";
$bi-icons_signin: "\e9b0";
$bi-icons_flamein: "\e9b1";
$bi-icons_flamein-regular: "\e9b2";
$bi-icons_flamedown-regular: "\e9b3";
$bi-icons_flamein-light: "\e9b4";
$bi-icons_flamedown: "\e9b5";
$bi-icons_flamedown-light: "\e9b6";
$bi-icons_flameout-light: "\e9b7";
$bi-icons_flameout-regular: "\e9b8";
$bi-icons_flameout: "\e9b9";
$bi-icons_flameup-light: "\e9ba";
$bi-icons_flameup-regular: "\e9bb";
$bi-icons_flameup: "\e9bc";
$bi-icons_signin-light: "\e9bd";
$bi-icons_signin-regular: "\e9be";
$bi-icons_signout-light: "\e9bf";
$bi-icons_signout-regular: "\e9c0";

