@charset "UTF-8";
/* Scss Document */

/* ===========================================================

	clear

=========================================================== */
.clear--both {clear: both !important;}
.clear--none {clear: none !important;}

.float--right {float: right !important;}
.float--left {float: left !important;}
.float--none {float: none !important;}

/* clearfix
----------------------------------------------------------- */
.clearfix { @include clearfix; }
.clearfix { zoom:1; }

/* ===========================================================

	img

=========================================================== */

.img-float--right { float: right !important; margin: 0 0 2.0em 2.0em; }
.img-float--left { float: left !important; margin: 0 2.0em 2.0em 0; }
.img-float--none { float: none !important; clear: both !important; margin: 0 0 2.0em 0; }

/* ===========================================================

	Display

=========================================================== */

.display-inline {display: inline !important;}
.display-block {display: block !important;}
.display-none {display: none !important;}