@charset "UTF-8";
/* CSS Document */

/*====================================

  5.glid Style

    ----------------------------------
        Structure
    ----------------------------------
    5.0. flex set
 
    ----------------------------------
        Change Log
    ----------------------------------
    -2018/10/30   Founding
    
====================================*/

/*====================================

    5.0. flex set

====================================*/

@mixin flex-width($width:100%) {
  -ms-flex-preferred-size: $width;
  flex-basis: $width;
  max-width: $width;
}

.column {
  display: flex;
  margin: ($column_gutter * 2) * -1;
  &:not(.no-responsive) {
    flex-direction: column;
    @media print, screen and (min-width: $breakpoints_medium) {
      flex-direction: row;
    }
  }
  &.no-responsive {
    flex-direction: row;
  }
  /* 隙間なし　*/
  &.no-gutter {
    margin: 0;
    .column__cell {
      padding: 0;
    }
  }
  /* 隙間 /4　*/
  &.is-gutter-mini {
    margin: ($column_gutter / 4) * -1;
    .column__cell {
      padding: ($column_gutter / 4);
    }
  }
  /* 隙間 /2　*/
  &.is-gutter-tiny {
    margin: ($column_gutter / 2) * -1;
    .column__cell {
      padding: ($column_gutter / 2);
    }
  }
  /* 隙間 　*/
  &.is-gutter-small {
    margin: ($column_gutter) * -1;
    .column__cell {
      padding: ($column_gutter);
    }
  }
  /* 隙間 *2 　*/
  &.is-gutter-medium {
    margin: ($column_gutter * 2) * -1;
    .column__cell {
      padding: ($column_gutter * 2);
    }
  }
  /* 隙間 *3 　*/
  &.is-gutter-large {
    margin: ($column_gutter * 3) * -1;
    .column__cell {
      padding: ($column_gutter * 3);
    }
  }
  /* 隙間 *4 　*/
  &.is-gutter-big {
    margin: ($column_gutter * 4) * -1;
    .column__cell {
      padding: ($column_gutter * 4);
    }
  }
  /* 隙間 *5 　*/
  &.is-gutter-huge {
    margin: ($column_gutter * 5) * -1;
    .column__cell {
      padding: ($column_gutter * 5);
    }
  }
  /* 隙間 *6 　*/
  &.is-gutter-massive {
    margin: ($column_gutter * 6) * -1;
    .column__cell {
      padding: ($column_gutter * 6);
    }
  }
}

.column__cell {
  display: block;
  padding: ($column_gutter * 2);
  position: relative;
  max-width: 100%;
  min-height: 1px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

.is-full {
  @include flex-width();
}

.column {
  @extend .column;
  flex-wrap: no-wrap;
}

.column--wrap {
  @extend .column;
  flex-wrap: wrap;
}

/* 2等分コラム */

.column--2-cell {
  @extend .column--wrap;
  &:not(.no-responsive) {
    > .column__cell {
      @include flex-width();
      @media print, screen and (min-width: $breakpoints_medium) {
        @include flex-width(50%);
      }
      &.is-x2,
      &.is-full {
        @extend .is-full;
      }
    }
  }
  &.no-responsive {
    > .column__cell {
      @include flex-width(50%);
      &.is-x2,
      &.is-full {
        @extend .is-full;
      }
    }
  }
}

/* 3等分コラム */

.column--3-cell {
  @extend .column--wrap;
  &:not(.no-responsive) {
    > .column__cell {
      @include flex-width();
      @media print, screen and (min-width: $breakpoints_medium) {
        @include flex-width(33.33333%);
        &.is-x2 {
          @include flex-width(66.66666%);
        }
      }
      &.is-x3,
      &.is-full {
        @extend .is-full;
      }
    }
  }
  &.no-responsive {
    > .column__cell {
      @include flex-width(33.33333%);
      &.is-x2 {
        @include flex-width(66.66666%);
      }
      &.is-x3,
      &.is-full {
        @extend .is-full;
      }
    }
  }
}

/* 4等分コラム */

.column--4-cell {
  @extend .column--wrap;
  &:not(.no-responsive) {
    > .column__cell {
      @include flex-width();
      @media print, screen and (min-width: $breakpoints_medium) {
        @include flex-width(25%);
        &.is-x2 {
          @include flex-width(50%);
        }
        &.is-x3 {
          @include flex-width(75%);
        }
      }
      &.is-x4,
      &.is-full {
        @extend .is-full;
      }
    }
  }
  &.no-responsive {
    > .column__cell {
      @include flex-width(25%);
      &.is-x2 {
        @include flex-width(50%);
      }
      &.is-x3 {
        @include flex-width(75%);
      }
      &.is-x4,
      &.is-full {
        @extend .is-full;
      }
    }
  }
}

/* 5等分コラム */

.column--5-cell {
  @extend .column--wrap;
  &:not(.no-responsive) {
    > .column__cell {
      @include flex-width();
      @media print, screen and (min-width: $breakpoints_medium) {
        @include flex-width(20%);
        &.is-x2 {
          @include flex-width(40%);
        }
        &.is-x3 {
          @include flex-width(60%);
        }
        &.is-x4 {
          @include flex-width(80%);
        }
      }
      &.is-x5,
      &.is-full {
        @extend .is-full;
      }
    }
  }
  &.no-responsive {
    > .column__cell {
      @include flex-width(20%);
      &.is-x2 {
        @include flex-width(40%);
      }
      &.is-x3 {
        @include flex-width(60%);
      }
      &.is-x4 {
        @include flex-width(80%);
      }
      &.is-x5,
      &.is-full {
        @extend .is-full;
      }
    }
  }
}

/* 6等分コラム */

.column--6-cell {
  @extend .column--wrap;
  &:not(.no-responsive) {
    > .column__cell {
      @include flex-width();
      @media print, screen and (min-width: $breakpoints_medium) {
        @include flex-width(16.66666%);
        &.is-x2 {
          @include flex-width(33.33333%);
        }
        &.is-x3 {
          @include flex-width(50%);
        }
        &.is-x4 {
          @include flex-width(66.66666%);
        }
        &.is-x5 {
          @include flex-width(83.33333%);
        }
      }
      &.is-x6,
      &.is-full {
        @extend .is-full;
      }
    }
  }
  &.no-responsive {
    > .column__cell {
      @include flex-width(16.66666%);
      &.is-x2 {
        @include flex-width(33.33333%);
      }
      &.is-x3 {
        @include flex-width(50%);
      }
      &.is-x4 {
        @include flex-width(66.66666%);
      }
      &.is-x5 {
        @include flex-width(83.33333%);
      }
      &.is-x6,
      &.is-full {
        @extend .is-full;
      }
    }
  }
}


/*====================================

    5.1. flex set

====================================*/


