@charset "UTF-8";
/*====================================

  4.Mark Style

    ----------------------------------
        Structure
    ----------------------------------
    4.0. link mark
    4.1. blank mark
 
    ----------------------------------
        Change Log
    ----------------------------------
    -2018/10/30   Founding
    
====================================*/

/*====================================

    4.0. link mark

====================================*/

a.link-mark {
  position: relative;
  &::before {
    display: block;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    font-family: "basicicon" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
.link-mark a {
  @extend .link-mark;
}

/* angle--right */

a.link-mark--angle--right,
.link-mark--angle--right a {
  @extend .link-mark;
  padding-left: 0.75em;
  &::before {
    content: "\e901";
  }
}

/* angle--down */

a.link-mark--angle--down,
.link-mark--angle--down a {
  @extend .link-mark;
  padding-left: 0.75em;
  &::before {
    content: "\e903";
  }
}

/* angle--right-border-circle */

a.link-mark--angle--right-circle,
.link-mark--angle--right-circle a {
  @extend .link-mark;
  padding-left: 1.00em;
  &::before {
    content: "\e94f";
  }
}
/* angle--down-border-circle */

a.link-mark--angle--down-circle,
.link-mark--angle--down-circle a {
  @extend .link-mark;
  padding-left: 1.00em;
  &::before {
    content: "\e951";
  }
}

/* angle--right-border-circle */

a.link-mark--angle--right-border-circle,
.link-mark--angle--right-border-circle a {
  @extend .link-mark;
  padding-left: 1.00em;
  &::before {
    content: "\e937";
  }
}
/* angle--down-border-circle */

a.link-mark--angle--down-border-circle,
.link-mark--angle--down-border-circle a {
  @extend .link-mark;
  padding-left: 1.00em;
  &::before {
    content: "\e939";
  }
}



/* caret--right */

a.link-mark--caret--right,
.link-mark--caret--right a {
  @extend .link-mark;
  padding-left: 0.75em;
  &::before {
    content: "\ea13";
  }
}

/* caret--down */

a.link-mark--caret--down,
.link-mark--caret--down a {
  @extend .link-mark;
  padding-left: 0.75em;
  &::before {
    content: "\ea15";
  }
}

/* caret--right-border-circle */

a.link-mark--caret--right-circle,
.link-mark--caret--right-circle a {
  @extend .link-mark;
  padding-left: 1.00em;
  &::before {
    content: "\ea49";
  }
}
/* caret--down-border-circle */

a.link-mark--caret--down-circle,
.link-mark--caret--down-circle a {
  @extend .link-mark;
  padding-left: 1.00em;
  &::before {
    content: "\ea4b";
  }
}

/* caret--right-border-circle */

a.link-mark--caret--right-border-circle,
.link-mark--caret--right-border-circle a {
  @extend .link-mark;
  padding-left: 1.00em;
  &::before {
    content: "\ea61";
  }
}
/* caret--down-border-circle */

a.link-mark--caret--down-border-circle,
.link-mark--caret--down-border-circle a {
  @extend .link-mark;
  padding-left: 1.00em;
  &::before {
    content: "\ea63";
  }
}


/*====================================

    4.1. blank mark

====================================*/
.link-blank,
.blank {
  position: relative;
  &::after {
    display: inline-block;
    margin-left: 0.25em;
    content: "\e983";
    font-family: "basicicon" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}