@charset "UTF-8";
/*====================================

  4.Mark Style

    ----------------------------------
        Structure
    ----------------------------------
    4.0. link mark
    4.1. blank mark
 
    ----------------------------------
        Change Log
    ----------------------------------
    -2018/10/30   Founding
    
====================================*/

/*====================================

    4.0. link mark

====================================*/

a.link-mark {
  position: relative;
  &::before {
    display: block;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    font-family: "basicicon" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
.link-mark a {
  @extend .link-mark;
}

/* angle */
a.link-mark--angle-up,
.link-mark--angle-up a,
a.link-mark--angle-left,
.link-mark--angle-left a,
a.link-mark--angle-right,
.link-mark--angle-right a,
a.link-mark--angle-down,
.link-mark--angle-down a {
  @extend .link-mark;
  padding-left: 0.75em;
}

a.link-mark--angle-up,
.link-mark--angle-up a {
  &::before {
    content: "\e902";
  }
}
a.link-mark--angle-left,
.link-mark--angle-left a {
  &::before {
    content: "\e900";
  }
}
a.link-mark--angle-down,
.link-mark--angle-down a {
  &::before {
    content: "\e903";
  }
}
a.link-mark--angle-right,
.link-mark--angle-right a {
  &::before {
    content: "\e901";
  }
}


/* angle-circle */
a.link-mark--angle-circle-up,
.link-mark--angle-circle-up a,
a.link-mark--angle-circle-left,
.link-mark--angle-circle-left a,
a.link-mark--angle-circle-right,
.link-mark--angle-circle-right a,
a.link-mark--angle-circle-down,
.link-mark--angle-circle-down a {
  @extend .link-mark;
  padding-left: 1.25em;
}

a.link-mark--angle-circle-up,
.link-mark--angle-circle-up a {
  &::before {
    content: "\e950";
  }
}
a.link-mark--angle-circle-left,
.link-mark--angle-circle-left a {
  &::before {
    content: "\e94e";
  }
}
a.link-mark--angle-circle-down,
.link-mark--angle-circle-down a {
  &::before {
    content: "\e951";
  }
}
a.link-mark--angle-circle-right,
.link-mark--angle-circle-right a {
  &::before {
    content: "\e94f";
  }
}

/* angle-circle-border */
a.link-mark--angle-circle-border-up,
.link-mark--angle-circle-border-up a,
a.link-mark--angle-circle-border-left,
.link-mark--angle-circle-border-left a,
a.link-mark--angle-circle-border-right,
.link-mark--angle-circle-border-right a,
a.link-mark--angle-circle-border-down,
.link-mark--angle-circle-border-down a {
  @extend .link-mark;
  padding-left: 1.25em;
}

a.link-mark--angle-circle-border-up,
.link-mark--angle-circle-border-up a {
  &::before {
    content: "\e938";
  }
}
a.link-mark--angle-circle-border-left,
.link-mark--angle-circle-border-left a {
  &::before {
    content: "\e936";
  }
}
a.link-mark--angle-circle-border-down,
.link-mark--angle-circle-border-down a {
  &::before {
    content: "\e939";
  }
}
a.link-mark--angle-circle-border-right,
.link-mark--angle-circle-border-right a {
  &::before {
    content: "\e937";
  }
}

/* caret */
a.link-mark--caret-up,
.link-mark--caret-up a,
a.link-mark--caret-left,
.link-mark--caret-left a,
a.link-mark--caret-right,
.link-mark--caret-right a,
a.link-mark--caret-down,
.link-mark--caret-down a {
  @extend .link-mark;
  padding-left: 0.75em;
}

a.link-mark--caret-up,
.link-mark--caret-up a {
  &::before {
    content: "\ea14";
  }
}
a.link-mark--caret-left,
.link-mark--caret-left a {
  &::before {
    content: "\ea12";
  }
}
a.link-mark--caret-down,
.link-mark--caret-down a {
  &::before {
    content: "\ea15";
  }
}
a.link-mark--caret-right,
.link-mark--caret-right a {
  &::before {
    content: "\ea13";
  }
}


/* caret-circle */
a.link-mark--caret-circle-up,
.link-mark--caret-circle-up a,
a.link-mark--caret-circle-left,
.link-mark--caret-circle-left a,
a.link-mark--caret-circle-right,
.link-mark--caret-circle-right a,
a.link-mark--caret-circle-down,
.link-mark--caret-circle-down a {
  @extend .link-mark;
  padding-left: 1.25em;
}

a.link-mark--caret-circle-up,
.link-mark--caret-circle-up a {
  &::before {
    content: "\ea62";
  }
}
a.link-mark--caret-circle-left,
.link-mark--caret-circle-left a {
  &::before {
    content: "\ea60";
  }
}
a.link-mark--caret-circle-down,
.link-mark--caret-circle-down a {
  &::before {
    content: "\ea63";
  }
}
a.link-mark--caret-circle-right,
.link-mark--caret-circle-right a {
  &::before {
    content: "\ea61";
  }
}

/* caret-circle-border */
a.link-mark--caret-circle-border-up,
.link-mark--caret-circle-border-up a,
a.link-mark--caret-circle-border-left,
.link-mark--caret-circle-border-left a,
a.link-mark--caret-circle-border-right,
.link-mark--caret-circle-border-right a,
a.link-mark--caret-circle-border-down,
.link-mark--caret-circle-border-down a {
  @extend .link-mark;
  padding-left: 1.25em;
}

a.link-mark--caret-circle-border-up,
.link-mark--caret-circle-border-up a {
  &::before {
    content: "\ea48";
  }
}
a.link-mark--caret-circle-border-left,
.link-mark--caret-circle-border-left a {
  &::before {
    content: "\ea48";
  }
}
a.link-mark--caret-circle-border-down,
.link-mark--caret-circle-border-down a {
  &::before {
    content: "\ea4b";
  }
}
a.link-mark--caret-circle-border-right,
.link-mark--caret-circle-border-right a {
  &::before {
    content: "\ea49";
  }
}

/* arrow */
a.link-mark--arrow-up,
.link-mark--arrow-up a,
a.link-mark--arrow-left,
.link-mark--arrow-left a,
a.link-mark--arrow-right,
.link-mark--arrow-right a,
a.link-mark--arrow-down,
.link-mark--arrow-down a {
  @extend .link-mark;
  padding-left: 1.00em;
}

a.link-mark--arrow-up,
.link-mark--arrow-up a {
  &::before {
    content: "\e978";
  }
}
a.link-mark--arrow-left,
.link-mark--arrow-left a {
  &::before {
    content: "\e976";
  }
}
a.link-mark--arrow-down,
.link-mark--arrow-down a {
  &::before {
    content: "\e979";
  }
}
a.link-mark--arrow-right,
.link-mark--arrow-right a {
  &::before {
    content: "\e977";
  }
}


/* arrow-circle */
a.link-mark--arrow-circle-up,
.link-mark--arrow-circle-up a,
a.link-mark--arrow-circle-left,
.link-mark--arrow-circle-left a,
a.link-mark--arrow-circle-right,
.link-mark--arrow-circle-right a,
a.link-mark--arrow-circle-down,
.link-mark--arrow-circle-down a {
  @extend .link-mark;
  padding-left: 1.25em;
}

a.link-mark--arrow-circle-up,
.link-mark--arrow-circle-up a {
  &::before {
    content: "\ea08";
  }
}
a.link-mark--arrow-circle-left,
.link-mark--arrow-circle-left a {
  &::before {
    content: "\ea06";
  }
}
a.link-mark--arrow-circle-down,
.link-mark--arrow-circle-down a {
  &::before {
    content: "\ea09";
  }
}
a.link-mark--arrow-circle-right,
.link-mark--arrow-circle-right a {
  &::before {
    content: "\ea07";
  }
}

/* arrow-circle-border */
a.link-mark--arrow-circle-border-up,
.link-mark--arrow-circle-border-up a,
a.link-mark--arrow-circle-border-left,
.link-mark--arrow-circle-border-left a,
a.link-mark--arrow-circle-border-right,
.link-mark--arrow-circle-border-right a,
a.link-mark--arrow-circle-border-down,
.link-mark--arrow-circle-border-down a {
  @extend .link-mark;
  padding-left: 1.25em;
}

a.link-mark--arrow-circle-border-up,
.link-mark--arrow-circle-border-up a {
  &::before {
    content: "\e9f1";
  }
}
a.link-mark--arrow-circle-border-left,
.link-mark--arrow-circle-border-left a {
  &::before {
    content: "\e9ee";
  }
}
a.link-mark--arrow-circle-border-down,
.link-mark--arrow-circle-border-down a {
  &::before {
    content: "\e9f0";
  }
}
a.link-mark--arrow-circle-border-right,
.link-mark--arrow-circle-border-right a {
  &::before {
    content: "\e9ef";
  }
}





/*====================================

    4.1. blank mark

====================================*/
.link-blank,
.blank {
  position: relative;
  &::after {
    display: inline-block;
    margin-left: 0.25em;
    content: "\e983";
    font-family: "basicicon" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}