@charset "UTF-8";
/* CSS Document */

/* ===========================================================

	mark

=========================================================== */
a.link-triangle,
.link-triangle a,
a.link-triangle--top,
.link-triangle--top a,
a.link-triangle--left,
.link-triangle--left a,
a.link-triangle--bottom,
.link-triangle--bottom a,
a.link-triangle--right,
.link-triangle--right a {
	position: relative;
	padding-left: 0.75em;
	&::before {
		display: block;
		position: absolute; content: "";
		top: 50%; left: 0;
		width: 0; height: 0;
		margin-top: -0.20em;
		border-style: solid;
		border-width: 0.20em 0 0.20em 0.25em;
		border-color: transparent transparent transparent #000;
	}
}
a.link-triangle::before,
.link-triangle a::before { -webkit-transform: rotate(0); transform: rotate(0); }

a.link-triangle--top::before,
.link-triangle--top a::before { -webkit-transform: rotate(-90deg); transform: rotate(-90deg); }

a.link-triangle--left::before,
.link-triangle--left a::before { -webkit-transform: rotate(-180deg); transform: rotate(-180deg); }

a.link-triangle--bottom::before,
.link-triangle--bottom a::before { -webkit-transform: rotate(90deg); transform: rotate(90deg); }

a.link-triangle--right::before,
.link-triangle--right a::before { -webkit-transform: rotate(0); transform: rotate(0); }




a.link-arrow,
.link-arrow a,
a.link-arrow--top,
.link-arrow--top a,
a.link-arrow--left,
.link-arrow--left a,
a.link-arrow--bottom,
.link-arrow--bottom a,
a.link-arrow--right,
.link-arrow--right a {
	position: relative;
	padding-left: 0.75em;
	&::before {
		display: block;
		position: absolute;
		content: "";
		top: 50%;
		left: 0;
		width: 0.40em;
		height: 0.40em;
		line-height: 1;
		margin-top: -0.20em;
		border-top: 1px solid #000;
		border-left: 1px solid transparent;
		border-bottom: 1px solid transparent;
		border-right: 1px solid #000;
	}
}
a.link-arrow::before,
.link-arrow a::before { -webkit-transform: rotate(45deg); transform: rotate(45deg); }

a.link-arrow--top::before,
.link-arrow--top a::before { -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }

a.link-arrow--left::before,
.link-arrow--left a::before { -webkit-transform: rotate(-135deg); transform: rotate(-135deg); }

a.link-arrow--bottom::before,
.link-arrow--bottom a::before { -webkit-transform: rotate(135deg); transform: rotate(135deg); }

a.link-arrow--right::before,
.link-arrow--right a::before { -webkit-transform: rotate(45deg); transform: rotate(45deg); }