@charset "UTF-8";
/* Scss Document */


/*====================================

  10. module Style

    ----------------------------------
        Structure
    ----------------------------------
    10.0. tabs module
    10.1. link module
 
    ----------------------------------
        Change Log
    ----------------------------------
    -2018/11/05   Founding
    
====================================*/

/*====================================

    10.0. tabs module

====================================*/
/* plain */
.js-tabs {}
.js-tab {}


.js-panels {}
.js-panel { display: none; }
.js-panel.active { display: block; }

/* tab-row */
.tab-row {
	display: flex; flex-wrap: nowrap;
}
.tab-row > li {
	display: flex; width: 100%; flex-flow: 1;
}
.tab-row > li > a {
	display: flex; width: 100%; flex-flow: 1;
	align-items: center; align-content: center;
}
.tab-row > li > a > span {
	display: block; width: 100%;
}


/*====================================

    10.1. link module

====================================*/

/* link-button-parade */
.link-button-parade {
	display: flex; padding: 0;
	margin-left: -0.25em; margin-right: -0.25em;
	li {
		display: block; margin: 0;
		padding-left: 0.25em; padding-right: 0.25em;
	}
	a { display: block; padding: 0; }
}
.link-button-parade--left {
	justify-content: flex-start;
	@extend .link-button-parade;
}
.link-button-parade--center {
	justify-content: center;
	@extend .link-button-parade;
}
.link-button-parade--right {
	justify-content: flex-end;
	@extend .link-button-parade;
}




/* link-text-parade */
.link-text-parade {
	display: flex; padding: 0;
	margin-left: -1.0em; margin-right: -1.0em;
	li {
		display: block; margin: 0;
		padding-left: 1.0em; padding-right: 1.0em;
	}
	a { display: block; padding: 0; }
}
.link-text-parade--left {
	justify-content: flex-start;
	@extend .link-text-parade;
}
.link-text-parade--center {
	justify-content: center;
	@extend .link-text-parade;
}
.link-text-parade--right {
	justify-content: flex-end;
	@extend .link-text-parade;
}




/* link-list-box */
.link-list-box {
	display: flex; width: 100%; clear: both;
	> dt { display: flex; align-items: center; }
	> dd { display: block; }
}
.link-list-box ul {
	display: flex; clear: both;
	flex-direction: row; flex-wrap: wrap;
	margin-left: -0.5em; margin-right: -0.5em;
}
.link-list-box li {
	display: block; margin: 0;
	padding-left: 0.5em; padding-right: 0.5em;
}


.link-list-box--row {
	@extend .link-list-box;
	flex-direction: row;
	> dt { flex-grow: 1; white-space: nowrap; }
	> dd { flex-grow: 2; flex-basis: 100%; }
}
.link-list-box--row ul {
	display: flex; clear: both;
	flex-direction: row; flex-wrap: wrap;
	margin-left: -0.5em; margin-right: -0.5em;
}
.link-list-box--row li {
	display: block; margin: 0;
	padding-left: 0.5em; padding-right: 0.5em;
}

.link-list-box--column {
	@extend .link-list-box;
	display: block;
	> dt { flex-grow: 1; flex-basis: 100%; }
	> dd { flex-grow: 1; flex-basis: 100%; }
}
.link-list-box--column ul {
	display: flex; clear: both;
	flex-direction: row; flex-wrap: wrap;
	margin-left: -0.5em; margin-right: -0.5em;
}
.link-list-box--column li {
	display: block; margin: 0;
	padding-left: 0.5em; padding-right: 0.5em;
}









