@charset "UTF-8";
/* Scss Document */


/*====================================

  8. responsive Style

    ----------------------------------
        Structure
    ----------------------------------
    8.0. image responsive
    8.1. video responsive
 
    ----------------------------------
        Change Log
    ----------------------------------
    -2018/11/05   Founding
    
====================================*/

/*====================================

    8.0. input responsive

====================================*/
img {
	width: auto; height: auto;
  max-width: 100%; max-height: 100%;
  vertical-align: bottom;
}
.no-responsive img,
img.no-responsive {
	width: auto; height: auto;
	max-width: none; max-height: none;
}


/*====================================

    8.1. video responsive

====================================*/

.respons-video {
	display: block;
	position:relative;
	width:100%; height: 0;
	padding-top:56.25%;
  overflow: hidden;
  iframe {
    position:absolute; top:0; right:0;
    width:100%; height:100%;
  }
}
