/*====================================

  * Variables

    ----------------------------------
        Structure
    ----------------------------------
    *.0. Default
 
    ----------------------------------
        Change Log
    ----------------------------------
    -2018/8/16   Founding
    
====================================*/
/*====================================

    *.0. Default

====================================*/

//リストのマージンなんかの値
$list_margin: 2.5em;
//サイズの書き出し刻み方
$size_num: 5;

$breakpoints_x-small: 0;
$breakpoints_small: 576px;
$breakpoints_medium: 768px;
$breakpoints_large: 992px;
$breakpoints_x-large: 1200px;
