@charset "UTF-8";
/*! v1.0.5 */
/* Scss Document */
/* =======================================================
***********************************************************
このファイルはSCSSで作成されています。
数値の調整などは、
/assets/scss/basicstyle/のなかのファイルを編集してください。
***********************************************************
======================================================== */
/* =======================================================
    mixins
======================================================== */
/* =======================================================
    Variables
======================================================== */
/* =======================================================
    import style
======================================================== */
/*====================================

  0.Reset Style

    ----------------------------------
        Structure
    ----------------------------------
    0.0. Full Reset
    0.1. Border Box
    0.2. Objects
    0.3. List reset
    0.4. Blockquote reset
    0.5. link tag
    0.6. hr
    0.7. Computer code
    0.8. Form
    0.9. IE （削除予定）
    0.10. HTML Bace Setting
 
    ----------------------------------
        Change Log
    ----------------------------------
    -2018/8/8   Founding
    
====================================*/
/*====================================

    0.0. Full Reset

====================================*/
html, body,
div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p,
blockquote, pre, abbr, address,
cite, code, del, dfn, em,
img, ins, kbd, q, samp, small, strong, sub, sup,
var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure,
header, main, footer, menu, nav, section,
time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: inherit;
  vertical-align: baseline;
  background: transparent;
}

article, aside, figure,
header, main, footer, nav, section,
details, summary {
  display: block;
}

/*====================================

    0.1. Border Box

====================================*/
*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

:invalid,
:-moz-submit-invalid,
:-moz-ui-invalid {
  box-shadow: none;
}

/*====================================

    0.2. Objects

====================================*/
img,
object,
embed {
  max-width: 100%;
}

/*====================================

    0.3. List reset

====================================*/
/* we use a lot of ULs that aren't bulleted. don't forget to restore the bullets within content. */
ul {
  list-style: none;
}

/*====================================

    0.4. Blockquote reset

====================================*/
blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/*====================================

    0.5. link tag

====================================*/
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-style: inherit;
  font-weight: inherit;
}

/*====================================

    0.6. hr

====================================*/
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*====================================

    0.7. Computer code

====================================*/
/* standardize any monospaced elements */
pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

/*====================================

    0.8. Form

====================================*/
/* hand cursor on clickable elements */
.clickable,
label,
input[type="button"],
input[type="submit"],
input[type="file"],
button {
  cursor: "pointer";
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0;
}

/* make buttons play nice in IE */
button,
input[type="button"] {
  width: auto;
  overflow: visible;
}

input, select {
  vertical-align: middle;
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

select, input, textarea {
  font-size: 100%;
}

/*====================================

    0.9. IE （削除予定）

====================================*/
/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

/*====================================

    0.10. HTML Bace Setting

====================================*/
html {
  font-size: 62.5%;
  overflow-y: scroll;
}

/*====================================

  1.Text Style

    ----------------------------------
        Structure
    ----------------------------------
    1.0. Default
    1.1. Align
 
    ----------------------------------
        Change Log
    ----------------------------------
    -2018/8/8   Founding
    
====================================*/
/*====================================

    1.0. Default

====================================*/
b, strong {
  font-weight: bold;
}

i, em {
  font-style: italic;
}

sub, sup {
  font-size: 75%;
  position: relative;
  font-style: inherit;
  font-weight: inherit;
}

sup {
  vertical-align: super;
}

sub {
  vertical-align: baseline;
}

del {
  text-decoration: line-through;
}

ins {
  text-decoration: underline;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/*====================================

    1.1. Align

====================================*/
.text-align--left {
  text-align: left !important;
}

.text-align--center {
  text-align: center !important;
}

.text-align--right {
  text-align: right !important;
}

.vertical-align--top {
  vertical-align: top !important;
}

.vertical-align--text-top {
  vertical-align: text-top !important;
}

.vertical-align--middle {
  vertical-align: middle !important;
}

.vertical-align--baseline {
  vertical-align: baseline !important;
}

.vertical-align--text-bottom {
  vertical-align: text-bottom !important;
}

.vertical-align--bottom {
  vertical-align: bottom !important;
}

/* 以下作業中 */
/*====================================

  2.Table Style

    ----------------------------------
        Structure
    ----------------------------------
    2.0. Default
    2.1. Layout Style
 
    ----------------------------------
        Change Log
    ----------------------------------
    -2018/8/8   Founding
    
====================================*/
/*====================================

    2.0. Default

====================================*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  font-weight: inherit;
  vertical-align: top;
  text-align: left;
}

caption {
  text-align: left;
}

/*====================================

    2.1. Layout Style

====================================*/
/* table layout fixed */
table.table-layout--fixed {
  table-layout: fixed !important;
}

table.table-layout--fixed th,
table.table-layout--fixed td {
  width: auto;
  white-space: normal;
}

table th.cell-width--fit,
table td.cell-width--fit,
table th.fit,
table td.fit {
  width: 1% !important;
  white-space: nowrap !important;
}

/* table cell border */
table th.cell-border--none,
table td.cell-border--none,
table th.border-none,
table td.border-none {
  border: none !important;
}

table th.cell-border--top-none,
table td.cell-border--top-none,
table th.border-top-none,
table td.border-top-none {
  border-top: none !important;
}

table th.cell-border--left-none,
table td.cell-border--left-none,
table th.border-left-none,
table td.border-left-none {
  border-left: none !important;
}

table th.cell-border--right-none,
table td.cell-border--right-none,
table th.border-right-none,
table td.border-right-none {
  border-right: none !important;
}

table th.cell-border--bottom-none,
table td.cell-border--bottom-none,
table th.border-bottom-none,
table td.border-bottom-none {
  border-bottom: none !important;
}

/* align */
.text-align--left th,
.text-align--left td {
  text-align: left !important;
}

.text-align--center th,
.text-align--center td {
  text-align: center !important;
}

.text-align--right th,
.text-align--right td {
  text-align: right !important;
}

.vertical-align--top th,
.vertical-align--top td {
  vertical-align: top !important;
}

.vertical-align--middle th,
.vertical-align--middle td {
  vertical-align: middle !important;
}

.vertical-align--top th,
.vertical-align--top td {
  vertical-align: top !important;
}

.vertical-align--bottom th,
.vertical-align--bottom td {
  vertical-align: bottom !important;
}

/*====================================

    2.2. Responsive Table

====================================*/
@media (max-width: 768px) {
  table.table-responsive,
  table.table-responsive caption,
  table.table-responsive thead,
  table.table-responsive tbody,
  table.table-responsive tfoot,
  table.table-responsive tr,
  table.table-responsive th,
  table.table-responsive td {
    display: block;
  }
}

/* ===========================================================

	responsive scroll table

=========================================================== */
/* ===========================================================

	table-style

=========================================================== */
/* ===========================================================

	dl-table

=========================================================== */
.dl-table {
  display: table;
  margin: 1.0em 0;
  border-collapse: collapse;
}

.dl-table .dl-table {
  margin: 0;
}

.dl-table .dl-table-responsive {
  margin: 0;
}

.dl-table__caption {
  display: table-caption;
}

.dl-table__header {
  display: table-header-group;
}

.dl-table__body {
  display: table-row-group;
}

.dl-table__footer {
  display: table-footer-group;
}

.dl-table > dl,
.dl-table__header > dl,
.dl-table__body > dl,
.dl-table__footer > dl {
  display: table-row;
}

.dl-table > dl > dt,
.dl-table > dl > dd,
.dl-table__header > dl > dt,
.dl-table__header > dl > dd,
.dl-table__body > dl > dt,
.dl-table__body > dl > dd,
.dl-table__footer > dl > dt,
.dl-table__footer > dl > dd {
  display: table-cell;
}

.dl-table-responsive {
  display: block;
  margin: 1.0em 0;
}

.dl-table-responsive .dl-table {
  margin: 0;
}

.dl-table-responsive .dl-table-responsive {
  margin: 0;
}

.dl-table-responsive .dl-table__caption {
  display: block;
}

.dl-table-responsive .dl-table__header {
  display: block;
}

.dl-table-responsive .dl-table__body {
  display: block;
}

.dl-table-responsive .dl-table__footer {
  display: block;
}

.dl-table-responsive > dl,
.dl-table-responsive .dl-table__header > dl,
.dl-table-responsive .dl-table__body > dl,
.dl-table-responsive .dl-table__footer > dl {
  display: block;
}

.dl-table-responsive > dl > dt,
.dl-table-responsive > dl > dd,
.dl-table-responsive .dl-table__header > dl > dt,
.dl-table-responsive .dl-table__header > dl > dd,
.dl-table-responsive .dl-table__body > dl > dt,
.dl-table-responsive .dl-table__body > dl > dd,
.dl-table-responsive .dl-table__footer > dl > dt,
.dl-table-responsive .dl-table__footer > dl > dd {
  display: block;
}

@media print, screen and (min-width: 768px) {
  .dl-table-responsive {
    display: table;
    border-collapse: collapse;
  }
  .dl-table-responsive .dl-table {
    margin: 0;
  }
  .dl-table-responsive .dl-table-responsive {
    margin: 0;
  }
  .dl-table-responsive .dl-table__caption {
    display: table-caption;
  }
  .dl-table-responsive .dl-table__header {
    display: table-header-group;
  }
  .dl-table-responsive .dl-table__body {
    display: table-row-group;
  }
  .dl-table-responsive .dl-table__footer {
    display: table-footer-group;
  }
  .dl-table-responsive > dl,
  .dl-table-responsive .dl-table__header > dl,
  .dl-table-responsive .dl-table__body > dl,
  .dl-table-responsive .dl-table__footer > dl {
    display: table-row;
  }
  .dl-table-responsive > dl > dt,
  .dl-table-responsive > dl > dd,
  .dl-table-responsive .dl-table__header > dl > dt,
  .dl-table-responsive .dl-table__header > dl > dd,
  .dl-table-responsive .dl-table__body > dl > dt,
  .dl-table-responsive .dl-table__body > dl > dd,
  .dl-table-responsive .dl-table__footer > dl > dt,
  .dl-table-responsive .dl-table__footer > dl > dd {
    display: table-cell;
  }
}

.dl-table-align--dt-left dt,
.dl-table-align--dd-left dd,
.dl-table-align--left dt,
.dl-table-align--left dd {
  text-align: left;
}

.dl-table-align--dt-center dt,
.dl-table-align--dd-center dd,
.dl-table-align--center dt,
.dl-table-align--center dd {
  text-align: center;
}

.dl-table-align--dt-right dt,
.dl-table-align--dd-right dd,
.dl-table-align--right dt,
.dl-table-align--right dd {
  text-align: right;
}

/* ===========================================================

	date-list

=========================================================== */
.date-list {
  display: table;
  border-collapse: collapse;
}

.date-list > dl {
  display: table-row;
}

.date-list > dl > dt,
.date-list > dl > dd {
  display: table-cell;
}

.date-list > dl > dt {
  width: 1%;
  white-space: nowrap;
  vertical-align: top;
}

.date-list > dl > dd {
  vertical-align: middle;
}

.date-list > p {
  display: table-caption;
}

.date-list-responsive {
  display: block;
}

.date-list-responsive > dl {
  display: block;
}

.date-list-responsive > dl > dt,
.date-list-responsive > dl > dd,
.date-list-responsive > p {
  display: block;
}

@media print, screen and (min-width: 768px) {
  .date-list-responsive {
    display: table;
    border-collapse: collapse;
  }
  .date-list-responsive > dl {
    display: table-row;
  }
  .date-list-responsive > dl > dt,
  .date-list-responsive > dl > dd {
    display: table-cell;
  }
  .date-list-responsive > dl > dt {
    width: 1%;
    white-space: nowrap;
    vertical-align: top;
  }
  .date-list-responsive > dl > dd {
    vertical-align: middle;
  }
  .date-list-responsive > p {
    display: table-caption;
  }
}

/* 未着手 */
