@charset "UTF-8";
/* Scss Document */

/* ===========================================================

	clear

=========================================================== */
.clear--both {clear: both !important;}
.clear--none {clear: none !important;}
.float--right {float: right !important;}
.float--left {float: left !important;}
.float--none {float: none !important;}

/* clearfix
----------------------------------------------------------- */
.clearfix {
	@include clearfix;
}
.clearfix { zoom:1; }