@charset "UTF-8";
/* Scss Document */

/* ===========================================================

	clear

=========================================================== */
.clear--both {clear: both !important;}
.clear--none {clear: none !important;}
.float--right {float: right !important;}
.float--left {float: left !important;}
.float--none {float: none !important;}

/* clearfix
----------------------------------------------------------- */
.clearfix::after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
.clearfix { zoom:1; }