@charset "UTF-8";
/* CSS Document */

/* ===========================================================

	column

=========================================================== */
@mixin column_flex() {
	display: flex; width: 100%;
	margin-left: -1.0em; margin-right: -1.0em;
}
@mixin column_flex__cell() {
	padding-left: 1.0em; padding-right: 1.0em;
}

.column { @include column_flex(); }
.column__cell { @include column_flex__cell(); }

/* 等幅コラム */
.column--equal-width { @extend .column; }
.column--equal-width .column__cell {
	@include column_flex__cell();
	flex-grow: 1; flex-basis: 100%;
}

/* 3等分コラム */
.column--3 { @extend .column; }
.column--3 .column__cell--3of1 {
	@include column_flex__cell();
	flex-basis: 33.3333%;
}
.column--3 .column__cell--3of2 {
	@include column_flex__cell();
	flex-basis: 66.6666%;
}
.column--3 .column__cell--3of3 {
	@include column_flex__cell();
	flex-basis: 100%;
}


/* 4等分コラム */
.column--4 { @extend .column; }
.column--4 .column__cell--4of1 {
	@include column_flex__cell();
	flex-basis: 25%;
}
.column--4 .column__cell--4of2 {
	@include column_flex__cell();
	flex-basis: 50%;
}
.column--4 .column__cell--4of3 {
	@include column_flex__cell();
	flex-basis: 75%;
}
.column--4 .column__cell--4of4 {
	@include column_flex__cell();
	flex-basis: 100%;
}