@charset "UTF-8";
/* Scss Document */

/* ===========================================================

	indent-list ( 旧・indent-table )

=========================================================== */

.indent-list,
.caution {
	display: table;
	> li {
		display: table-row;
		> span {
			display: table-cell;
			padding: 0.25em 0 0.25em 0.25em;
			vertical-align: top;
		}
	}
	> li::before {
		display: table-cell;
		padding: 0.25em 0;
		vertical-align: top;
		width: 1%; white-space: nowrap;
		content: attr(data-indent-head);
	}
}