@charset "UTF-8";
/* CSS Document */

/* ===========================================================

	mark

=========================================================== */
.link-triangle,
.link-triangle a {
	position: relative;
	padding-left: 0.75em;
	&:before {
		position: absolute; content: "";
		top: 50%; left: 0;
		width: 0; height: 0;
		margin-top: -0.20em;
		border-style: solid;
		border-width: 0.20em 0 0.20em 0.25em;
		border-color: transparent transparent transparent #000;
	}
}

.link-arrow,
.link-arrow a {
	position: relative;
	padding-left: 0.75em;
	&:before {
		position: absolute;
		content: "";
		top: 50%;
		left: 0;
		width: 0.30em;
		height: 0.30em;
		margin-top: -0.15em;
		border-top: 1px solid #000;
		border-right: 1px solid #000;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
}