@charset "UTF-8";
/* Scss Document */


/* ===========================================================

	responsive scroll table

=========================================================== */


/* ===========================================================

	table-style

=========================================================== */
.table-layout--fixed { table-layout: fixed !important; }

/*

cell

*/
table th.cell-width--fit,
table td.cell-width--fit { width: 1% !important; white-space: nowrap !important; }
@for $i from 0 through 10 {
	// percent
	table th.cell-width--percent-#{$i * $size_num},
	table td.cell-width--percent-#{$i * $size_num} {
		width:  #{$i * $size_num}% !important;
	}
}

/*
border
*/
table th.cell-border--none,
table td.cell-border--none { border: none !important; }

table th.cell-border--top-none,
table td.cell-border--top-none { border-top: none !important; }

table th.cell-border--left-none,
table td.cell-border--left-none { border-left: none !important; }

table th.cell-border--right-none,
table td.cell-border--right-none { border-right: none !important; }

table th.cell-border--bottom-none,
table td.cell-border--bottom-none { border-bottom: none !important; }



/* ===========================================================

	dl-table

=========================================================== */
.dl-table {
	display: table; margin: 1.0em 0;
	border-collapse: collapse;
	
	.dl-table { margin: 0; }
	.dl-table-responsive { margin: 0; }
}

.dl-table__caption { display: table-caption; }
.dl-table__header { display: table-header-group; }
.dl-table__body { display: table-row-group; }
.dl-table__footer { display: table-footer-group; }

.dl-table,
.dl-table__header,
.dl-table__body,
.dl-table__footer {
	> dl { display: table-row; }
	> dl > dt,
	> dl > dd { display: table-cell; }
}


.dl-table-responsive {
	display: block; margin: 1.0em 0;
	
	.dl-table { margin: 0; }
	.dl-table-responsive { margin: 0; }
}

.dl-table-responsive .dl-table__caption { display: block; }
.dl-table-responsive .dl-table__header { display: block; }
.dl-table-responsive .dl-table__body { display: block; }
.dl-table-responsive .dl-table__footer { display: block; }

.dl-table-responsive,
.dl-table-responsive .dl-table__header,
.dl-table-responsive .dl-table__body,
.dl-table-responsive .dl-table__footer {
	> dl { display: block; }
	> dl > dt,
	> dl > dd { display: block; }
}


@media print, screen and (min-width:768px) {
	.dl-table-responsive {
		display: table;
		border-collapse: collapse;

		.dl-table { margin: 0; }
		.dl-table-responsive { margin: 0; }
	}

	.dl-table-responsive .dl-table__caption { display: table-caption; }
	.dl-table-responsive .dl-table__header { display: table-header-group; }
	.dl-table-responsive .dl-table__body { display: table-row-group; }
	.dl-table-responsive .dl-table__footer { display: table-footer-group; }

	.dl-table-responsive,
	.dl-table-responsive .dl-table__header,
	.dl-table-responsive .dl-table__body,
	.dl-table-responsive .dl-table__footer {
		> dl { display: table-row; }
		> dl > dt,
		> dl > dd { display: table-cell; }
	}

}


.dl-table-align--dt-left dt,
.dl-table-align--dd-left dd,
.dl-table-align--left dt,
.dl-table-align--left dd { text-align: left; }

.dl-table-align--dt-center dt,
.dl-table-align--dd-center dd,
.dl-table-align--center dt,
.dl-table-align--center dd { text-align: center; }

.dl-table-align--dt-right dt,
.dl-table-align--dd-right dd,
.dl-table-align--right dt,
.dl-table-align--right dd { text-align: right; }


/* ===========================================================

	date-list

=========================================================== */
.date-list {
	display: table;
	border-collapse: collapse;
	
	> dl { display: table-row; }
	> dl > dt,
	> dl > dd { display: table-cell; }
	> dl > dt { width: 1%; white-space: nowrap; vertical-align: top; }
	> dl > dd { vertical-align: middle; }
	> p { display: table-caption; }
}


.date-list-responsive {
	display: block;
	> dl { display: block; }
	> dl > dt,
	> dl > dd,
	> p { display: block; }
}

@media print, screen and (min-width:768px) {
	.date-list-responsive {
		display: table;
		border-collapse: collapse;
		> dl { display: table-row; }
		> dl > dt,
		> dl > dd { display: table-cell; }
		> dl > dt { width: 1%; white-space: nowrap; vertical-align: top; }
		> dl > dd { vertical-align: middle; }
		> p { display: table-caption; }
	}
}

