@charset "UTF-8";
/* Scss Document */

/* ===========================================================

	align

=========================================================== */

.text-align--center { text-align: center!important; }
.text-align--right { text-align: right!important; }
.text-align--left { text-align: left!important; }
.vertical-align--middle,
.vertical-align--middle th,
.vertical-align--middle td  {vertical-align: middle !important; }
.vertical-align--top,
.vertical-align--top th,
.vertical-align--top td { vertical-align: top !important; }
.vertical-align--bottom,
.vertical-align--bottom th,
.vertical-align--bottom td { vertical-align: bottom !important; }


