@charset "UTF-8";
/* dl-table */

.dl-table {
  display: table;
  border-collapse: collapse;
}

.dl-table__caption {
  display: table-caption;
}

.dl-table__header {
  display: table-header-group;
}

.dl-table__body {
  display: table-row-group;
}

.dl-table__footer {
  display: table-footer-group;
}

.dl-table,
.dl-table__header,
.dl-table__body,
.dl-table__footer {
  dl {
    display: table-row;
    dt,
    dd {
      display: table-cell;
    }
  }
}


@media (min-width: $breakpoints_medium) {
  .dl-table:not(.no-responsive) {
    display: table;
    border-collapse: collapse;
  }
  .dl-table:not(.no-responsive) .dl-table__caption {
    display: table-caption;
  }
  .dl-table:not(.no-responsive) .dl-table__header {
    display: table-header-group;
  }
  .dl-table:not(.no-responsive) .dl-table__body {
    display: table-row-group;
  }
  .dl-table:not(.no-responsive) .dl-table__footer {
    display: table-footer-group;
  }
  .dl-table:not(.no-responsive),
  .dl-table:not(.no-responsive) .dl-table__header,
  .dl-table:not(.no-responsive) .dl-table__body,
  .dl-table:not(.no-responsive) .dl-table__footer {
    dl {
      display: table-row;
      dt,
      dd {
        display: table-cell;
      }
    }
  }
}

/* align */
.is-dt-left dt,
.is-dd-left dd,
.is-left dt,
.is-left dd {
  text-align: left;
}

.is-dt-center dt,
.is-dd-center dd,
.is-center dt,
.is-center dd {
  text-align: center;
}

.is-dt-right dt,
.is-dd-right dd,
.is-right dt,
.is-right dd {
  text-align: right;
}