@charset "UTF-8";
/* ul-table  */

.ul-tablet {
  width: 100%;
  display: block;
  overflow: hidden;
  >li {
    display: block;
    position: relative;
  }
}

.ul-table__th,
.ul-table__td {
  display: block;
}

@media print,
screen and (min-width: $breakpoints_medium) {
  .ul-table:not(.no-responsive) {
    display: table;
    border-collapse: collapse;
    >li {
      display: table-row;
      position: relative;
    }
    .ul-table__th,
    .ul-table__td {
      display: table-cell;
    }
  }
}

/* archive-list  */

.archive-list {
  width: 100%;
  display: block;
  overflow: hidden;
  ul {
    display: block;
    position: relative;
  }
  li {
    display: block;
    position: relative;
  }
}

.archive-list__header,
.archive-list__body {
  display: block;
}

@media print,
screen and (min-width: $breakpoints_medium) {
  .archive-list:not(.no-responsive),
  .archive-list:not(.is-vertical) {
    display: table;
    border-collapse: collapse;
    ul.archive-list--additional {
      display: table;
    }
    li {
      display: table-row;
    }
    .archive-list__header,
    .archive-list__body {
      display: table-cell;
    }
    .archive-list__header {
      width: 1%;
      white-space: nowrap;
    }
    .archive-list__date,
    .archive-list__label {
      display: inline-block;
      position: relative;
    }
    .archive-list__date {
    }
    .archive-list__label {
    }
  }
}

/* timeline  */

.timeline {
  width: 100%;
  display: block;
  overflow: hidden;
  >li {
    display: block;
    position: relative;
  }
}

.timeline__header,
.timeline__body {
  display: block;
}

@media print,
screen and (min-width: $breakpoints_medium) {
  .timeline:not(.no-responsive) {
    display: table;
    border-collapse: collapse;
    >li {
      display: table-row;
      position: relative;
    }
    .timeline__header,
    .timeline__body {
      display: table-cell;
    }
    .timeline__header {
      width: 1%;
      white-space: nowrap;
    }
  }
}